@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            <h2 class="text-center">Contato</h2>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-1">
                    <img height="50px" src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" />
                </div>
                <div class="col-xs-11">
                    <a href="https://www.instagram.com/hub_educacao" target="_blank">
                        <h3 class="text-left">Ir para Instagram</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
