@{
    ViewBag.Title = "Início";
}

<div class="text-center">
    <div style="display: inline-block;">
        <img src="~/Content/img/logo.png" class="img-fluid" alt="Logo" style="min-width: 60%;">
    </div>
</div>

<div class="text-center">
    <h3>Estamos em construção, aguarde por novidades...</h3>
</div>

