@{
    ViewBag.Title = "Cursos Disponíveis";
}
<br />
<div class="list-group">
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-default" })
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item" id="curso01">
                <div class="row">
                    <div class="col-md-5">
                        <div class="overflow-auto" style="max-width: 400px;">
                            <img src="~/Content/img/Curso01_Logo_Curso_C.jpeg" alt="Imagem do Curso" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-7 text-justify">
                        <h3><strong>Curso de introdução a algoritmos em linguagem C</strong></h3>
                        <p><strong>Objetivo:</strong> Capacitar os alunos com os conhecimentos teóricos e práticos necessários para entender e implementar algoritmos de forma eficiente e organizada. Com uma abordagem didática e acessível, o curso deverá abranger desde conceitos básicos até algoritmos mais avançados, proporcionando aos alunos uma base sólida para desenvolverem soluções eficazes em diversas áreas da computação. Além disso, os participantes terão acesso a materiais didáticos e recursos online para complementar seus estudos e auxiliar no processo de aprendizagem.</p>
                        <p><strong>Duração:</strong> 2 horas</p>
                        <p><strong>Inscrições:</strong> <input type="button" value="Disponível em breve..." class="btn btn-success disabled" /></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item" id="curso02">
                <div class="row">
                    <div class="col-md-5">
                        <div class="overflow-auto" style="max-width: 400px;">
                            <img src="~/Content/img/Curso02_Logo_Curso_Introd_Algoritmos.jpg" alt="Imagem do Curso" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-7 text-justify">
                        <h3><strong>Curso de Introdução a algoritmos</strong></h3>
                        <p><strong>Objetivo:</strong> Capacitar os alunos com os conhecimentos teóricos e práticos necessários para entender os conceitos fundamentais de algoritmos. O curso irá abordar os principais tipos de algoritmos, estruturas de dados e técnicas de resolução de problemas, fornecendo aos participantes uma base sólida para o desenvolvimento de soluções eficientes. Além disso, serão apresentados exemplos práticos e exercícios para reforçar o aprendizado.</p>
                        <p><strong>Duração:</strong> 3 horas</p>
                        <p><strong>Inscrições:</strong> <input type="button" value="Disponível em breve..." class="btn btn-success disabled" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-group">
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-default" })
</div>
