@{
    ViewBag.Title = "Detalhes do Curso";
}

<br />
<div class="list-group">
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-default" })
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="text-center">Curso de introdução a algoritmos em linguagem C</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Módulo</th>
                    <th>Duração (min)</th>
                    <th>Objetivo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>I</td>
                    <td>10</td>
                    <td>Introdução as linguagens de programação</td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>5</td>
                    <td>Instalação de compilador</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>15</td>
                    <td>Introdução à programação e ao C</td>
                </tr>
                <tr>
                    <td>IV</td>
                    <td>20</td>
                    <td>Tipos de dados e operadores</td>
                </tr>
                <tr>
                    <td>V</td>
                    <td>20</td>
                    <td>Estruturas de controle</td>
                </tr>
                <tr>
                    <td>VI</td>
                    <td>30</td>
                    <td>Exercícios de treinamento</td>
                </tr>
                <tr>
                    <td>VII</td>
                    <td>-</td>
                    <td>Projeto final</td>
                </tr>
            </tbody>
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center">Vídeo Aulas</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item flex-container">
                        <div class="module-content">
                            <h3>Módulo I: Introdução as linguagens de programação</h3>
                            <p>Visão geral das linguagens de programação mais comuns: C, Java, Python, JavaScript, etc.</p>
                            <p>Principais diferenças entre linguagens de programação: sintaxe, tipos de dados, etc.</p>
                            <p>Como escolher a melhor linguagem de programação para um determinado projeto.</p>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/EK4yV5UqTRY?si=LThjDaeb5E2ohIzi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="list-group-item flex-container">
                        <div class="module-content">
                            <h3>Módulo II: Instalação de compilador</h3>
                            <p>O Módulo II aborda o processo de instalação de um compilador, que é uma ferramenta essencial para programar em C. Serão apresentadas as etapas necessárias para instalar o compilador em diferentes sistemas operacionais, garantindo que os participantes tenham o ambiente adequado configurado para prosseguir com o curso.</p>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/BnU6h7B4p3U?si=_AnZdqgCfHeuOqLV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="list-group-item flex-container">
                        <div class="module-content">
                            <h3>Módulo III: Introdução à programação e ao C</h3>
                            <p>O Módulo III introduz os participantes aos conceitos básicos de programação e à linguagem C. Serão abordados tópicos como estrutura de um programa em C, declaração de variáveis, entrada e saída de dados, entre outros fundamentos essenciais para começar a programar em C.</p>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3RLLtsemb0s?si=BCtBDZWaL1QVCP1m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="list-group-item flex-container">
                        <div class="module-content">
                            <h3>Módulo IV: Tipos de dados e operadores</h3>
                            <p>O Módulo IV explora os tipos de dados e operadores em C. Os participantes aprenderão sobre os diferentes tipos de dados disponíveis na linguagem, como inteiros, ponto flutuante, caracteres, entre outros. Além disso, serão apresentados os operadores aritméticos, relacionais e lógicos utilizados em expressões e cálculos.</p>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/DQwuwDu3O-E?si=XYFnq8M-7fIB6BII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/8HyjfJTHt18?si=LDi6MJnu_lZ3h_IQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="list-group-item flex-container">
                        <div class="module-content">
                            <h3>Módulo V: Estruturas de controle</h3>
                            <p>O Módulo V aborda as estruturas de controle em C, que permitem controlar o fluxo de execução de um programa. Serão apresentadas as estruturas condicionais, como if-else e switch-case, e as estruturas de repetição, como while, do-while e for. Os participantes aprenderão a utilizar essas estruturas para tomar decisões e repetir blocos de código de forma controlada.</p>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/m2zyGwdE_-M?si=PqPT9wFBPSAr2bAP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/l4ZeK3XpxJA?si=RvMGdPDRd2oMczOx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="list-group-item flex-container">
                        <div class="module-content">
                            <h3>Módulo VI: Exercícios de treinamento</h3>
                            <p>O Módulo VI consiste em uma série de exercícios práticos para consolidar os conhecimentos adquiridos nos módulos anteriores. Os participantes terão a oportunidade de resolver problemas e implementar programas simples em C, colocando em prática os conceitos e técnicas aprendidos até o momento.</p>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/20wNhRIGHO0?si=pK4WrFMdreyBVMl4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/d4n_VNgLmoU?si=34EbTWDlqwCIo-3L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo VII: Projeto final</h3>
                        <p>O Módulo VII não possui uma duração definida, pois trata-se do projeto final do curso. Nesse módulo, os participantes terão a oportunidade de aplicar tudo o que foi aprendido ao longo do curso em um projeto prático. Será realizado um projeto de programação em C, que englobará diversos conceitos e desafios abordados nos módulos anteriores. Além da implementação do projeto, também serão revisadas as boas práticas de programação em C e haverá uma discussão sobre os próximos passos na aprendizagem de programação, sugerindo caminhos para aprimorar os conhecimentos e continuar explorando a área da programação.</p>
                        <br />
                        <button id="openModalBtn" class="btn btn-primary">Acessar Formulário</button>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("openModalBtn").addEventListener("click", function() {
    // Criar o fundo do modal
    let modalBackground = document.createElement("div");
    modalBackground.style.position = "fixed";
    modalBackground.style.top = "0";
    modalBackground.style.left = "0";
    modalBackground.style.width = "100vw";
    modalBackground.style.height = "100vh";
    modalBackground.style.backgroundColor = "rgba(0, 0, 0, 0.7)";
    modalBackground.style.display = "flex";
    modalBackground.style.justifyContent = "center";
    modalBackground.style.alignItems = "center";
    modalBackground.id = "modalBackground";

    // Criar o conteúdo do modal
    let modalContent = document.createElement("div");
    modalContent.style.width = "80%";
    modalContent.style.height = "80%";
    modalContent.style.backgroundColor = "white";
    modalContent.style.overflowY = "auto";

    // Adicionar o iframe ao conteúdo do modal
    let iframe = document.createElement("iframe");
    iframe.src = "https://docs.google.com/forms/d/e/1FAIpQLSc3cC2T68cCIos3rP7UdJ9YDhpcuPB6ojbeQQ6h34pSYPObFw/viewform?embedded=true";
    iframe.width = "100%";
    iframe.height = "90%";
    iframe.frameBorder = "0";

    modalContent.appendChild(iframe);
    modalBackground.appendChild(modalContent);

    // Adicionar evento para fechar o modal
    modalBackground.addEventListener("click", function(e) {
        if (e.target === modalBackground) {
            document.body.removeChild(modalBackground);
        }
    });

    document.body.appendChild(modalBackground);
});

</script>