@{
    ViewBag.Title = "Detalhes do Curso";
}

<br />
<div class="list-group">
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-default" })
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="text-center">Curso de introdução a algoritmos em linguagem C</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Módulo</th>
                    <th>Duração (min)</th>
                    <th>Objetivo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>I</td>
                    <td>10</td>
                    <td>Introdução as linguagens de programação</td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>5</td>
                    <td>Instalação de compilador</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>15</td>
                    <td>Introdução à programação e ao C</td>
                </tr>
                <tr>
                    <td>IV</td>
                    <td>20</td>
                    <td>Tipos de dados e operadores</td>
                </tr>
                <tr>
                    <td>V</td>
                    <td>20</td>
                    <td>Estruturas de controle</td>
                </tr>
                <tr>
                    <td>VI</td>
                    <td>30</td>
                    <td>Exercícios de treinamento</td>
                </tr>
                <tr>
                    <td>VII</td>
                    <td>-</td>
                    <td>Projeto final</td>
                </tr>
            </tbody>
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center">Confira mais detalhes</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <h3>Módulo I: Introdução as linguagens de programação</h3>
                        <p>Visão geral das linguagens de programação mais comuns: C, Java, Python, JavaScript, etc.</p>
                        <p>Principais diferenças entre linguagens de programação: sintaxe, tipos de dados, etc.</p>
                        <p>Como escolher a melhor linguagem de programação para um determinado projeto.</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo II: Instalação de compilador</h3>
                        <p>O Módulo II tem duração de 5 minutos e aborda o processo de instalação de um compilador, que é uma ferramenta essencial para programar em C. Serão apresentadas as etapas necessárias para instalar o compilador em diferentes sistemas operacionais, garantindo que os participantes tenham o ambiente adequado configurado para prosseguir com o curso.</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo III: Introdução à programação e ao C</h3>
                        <p>O Módulo III tem duração de 15 minutos e introduz os participantes aos conceitos básicos de programação e à linguagem C. Serão abordados tópicos como estrutura de um programa em C, declaração de variáveis, entrada e saída de dados, entre outros fundamentos essenciais para começar a programar em C.</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo IV: Tipos de dados e operadores</h3>
                        <p>O Módulo IV tem duração de 20 minutos e explora os tipos de dados e operadores em C. Os participantes aprenderão sobre os diferentes tipos de dados disponíveis na linguagem, como inteiros, ponto flutuante, caracteres, entre outros. Além disso, serão apresentados os operadores aritméticos, relacionais e lógicos utilizados em expressões e cálculos.</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo V: Estruturas de controle</h3>
                        <p>O Módulo V tem duração de 20 minutos e aborda as estruturas de controle em C, que permitem controlar o fluxo de execução de um programa. Serão apresentadas as estruturas condicionais, como if-else e switch-case, e as estruturas de repetição, como while, do-while e for. Os participantes aprenderão a utilizar essas estruturas para tomar decisões e repetir blocos de código de forma controlada.</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo VI: Exercícios de treinamento</h3>
                        <p>O Módulo VI tem duração de 30 minutos e consiste em uma série de exercícios práticos para consolidar os conhecimentos adquiridos nos módulos anteriores. Os participantes terão a oportunidade de resolver problemas e implementar programas simples em C, colocando em prática os conceitos e técnicas aprendidos até o momento.</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Módulo VII: Projeto final</h3>
                        <p>O Módulo VII não possui uma duração definida, pois trata-se do projeto final do curso. Nesse módulo, os participantes terão a oportunidade de aplicar tudo o que foi aprendido ao longo do curso em um projeto prático. Será realizado um projeto de programação em C, que englobará diversos conceitos e desafios abordados nos módulos anteriores. Além da implementação do projeto, também serão revisadas as boas práticas de programação em C e haverá uma discussão sobre os próximos passos na aprendizagem de programação, sugerindo caminhos para aprimorar os conhecimentos e continuar explorando a área da programação.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Inscrições em Breve</h2>
            </div>
        </div>
    </div>
</div>